<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>Lab-Window-Sizer</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/osascript</string>
        <string>/Users/fapace/Documents/lab/applescripts/Lab-Window-Sizer.scpt</string>
        <string>Google Chrome</string>
        <string>Audience Dial</string>
        <string>0</string>
        <string>0</string>
        <string>2560</string>
        <string>720</string>
    </array>
    <key>StartInterval</key>
    <integer>60</integer>
</dict>
</plist>